<!DOCTYPE html>
<html>
  <head>
    <title>Shavasana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'asana_logo.png' %>

  </head>

  <body>
    <script type="text/javascript">
       window.asanaLogoWhite = "<%= image_url('asana_reskin_logo.png') %>"
       window.asanaLogoSplash = "<%= image_url('asana_logo_splash.png') %>"
   </script>

    <%= image_tag "asana_reskin_logo.png" %>
    <%= yield %>
  </body>
</html>
