<!DOCTYPE html>
<html>
  <head>
    <title>Shavasana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'asana_logo.png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>

  <body>
    <script type="text/javascript">
       window.asanaLogoWhite = "<%= image_url('asana_reskin_logo.png') %>"
       window.asanaLogoSplash = "<%= image_url('asana_logo_splash.png') %>"
       window.closeButton = "<%= image_url('close_button.svg') %>"
       window.closeButtonHover = "<%= image_url('close_button_hover.svg') %>"
       window.splashVideo = "../videos/asana_splash_video_large.mp4"
       window.github = "<%= image_url('github-icon-white') %>"
       window.freeTrialRibbon = "<%= image_url('c6d286.png') %>"
   </script>

    <%= image_tag "asana_reskin_logo.png" %>
    <%= yield %>
  </body>
</html>
